## Analysis of the effects of the 2017 Travel Ban Executive order
We were curious what some of the effects of the 2017 Travel Ban executive order signed by President Donald Trump on individuals and wanted to answer a few specific questions.
    
    1. Looking at the 7 countries targeted by the ban, how many people would be refused greencards over a 90 day period? What proportion would be refugees?
    -howandwheregreencard.xls
    Assume refugee applicants for 2017 are roughly the same as 2015 and the applicants are distributed iid Uniformly over the year.
    
    4. With Refugees, where do they come from? What country brings the highest proportion of refugees vs Green Card holders? Do these countries have more refugees than others on average?
    -HowAndWhereGreenCard.xls
    Plot on map with concentric circles showing number of immigrants and proportion of immigrants that are refugees.
    
    2. How many of these individuals would be deported? How many for doing illegal things?
    -RemovedByCrimAndNationality.xls
    
    5. How does GDP impact refugee rates?
    -World Bank GDP Dataset
    -HowAndWhereGreenCard.xls
    A linear regression with GDP, institutional quality, etc...
    
    3.Analysis public sentiment for the ban.
    Twitter API for public sentiment.
We asked these to see more into what this ban would do to the United States as a whole using data from 2015 from the US Department of Homeland Security. This data will be analyzed through pandas and visualized in different ways.

In [70]:
import pandas as pd
import numpy as np
import Austin

In [36]:
greencard = pd.read_excel('HowAndWhereGreenCard.xls',sheetname='Country',
              skiprows=[0,1,2], skip_footer=4,na_values = ['D','-'])
greencard = greencard.fillna(value = 0)
greencard['banned']=''
greencard['refugee_to_total']=''
greencard['Total'] = greencard['Total'].astype(np.float64)
bannedcount = ['Iran','Iraq','Libya','Somalia', 'Sudan','Syria','Yemen']
for x in xrange(len(greencard)):
    if greencard['Country of birth'][x] in bannedcount:
        greencard['banned'][x] = True
    else:
        greencard['banned'][x] = False
for x in xrange(len(greencard)): 
    greencard['refugee_to_total'][x]=greencard['Refugees and asylees'][x]/greencard['Total'][x]

C:\Users\Spencer\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Spencer\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Spencer\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
greencard

,Country of birth,Total,Family-sponsored preferences,Employment-based preferences,Immediate relatives of U.S. citizens,Diversity,Refugees and asylees,Other,banned,refugee_to_total
0,Total,1051031.0,213910.0,144047.0,465068.0,47934.0,151995.0,28077.0,False,0.144615
1,Afghanistan,8328.0,272.0,16.0,1011.0,50.0,691.0,6288.0,False,0.0829731
2,Albania,4653.0,614.0,81.0,2017.0,1770.0,152.0,19.0,False,0.0326671
3,Algeria,1775.0,103.0,40.0,570.0,1035.0,19.0,8.0,False,0.0107042
4,Angola,154.0,8.0,12.0,89.0,6.0,39.0,0.0,False,0.253247
5,Anguilla,22.0,0.0,0.0,18.0,0.0,0.0,1.0,False,0
6,Antigua-Barbuda,290.0,97.0,12.0,176.0,0.0,0.0,0.0,False,0
7,Argentina,3730.0,194.0,1095.0,2194.0,48.0,133.0,66.0,False,0.0356568
8,Armenia,2962.0,247.0,120.0,1035.0,1324.0,225.0,11.0,False,0.0759622
9,Aruba,38.0,4.0,4.0,30.0,0.0,0.0,0.0,False,0
10,Australia,3034.0,68.0,930.0,1636.0,390.0,0.0,0.0,False,0
11,Austria,474.0,17.0,166.0,247.0,39.0,5.0,0.0,False,0.0105485
12,Azerbaijan,676.0,70.0,34.0,291.0,229.0,49.0,3.0,False,0.0724852
13,Bahamas,725.0,53.0,84.0,562.0,6.0,14.0,6.0,False,0.0193103
14,Bahrain,145.0,24.0,60.0,47.0,0.0,0.0,0.0,False,0
15,Bangladesh,13570.0,7044.0,653.0,5667.0,0.0,167.0,39.0,False,0.0123066
16,Barbados,376.0,97.0,28.0,235.0,9.0,0.0,7.0,False,0
17,Belarus,1994.0,86.0,236.0,695.0,772.0,199.0,6.0,False,0.0997994
18,Belgium,662.0,14.0,303.0,298.0,40.0,0.0,0.0,False,0
19,Belize,772.0,182.0,35.0,537.0,0.0,5.0,13.0,False,0.00647668
20,Benin,466.0,19.0,11.0,233.0,180.0,19.0,4.0,False,0.0407725
21,Bermuda,112.0,19.0,13.0,77.0,0.0,0.0,0.0,False,0
22,Bhutan,6325.0,0.0,4.0,28.0,0.0,6290.0,0.0,False,0.994466
23,Bolivia,1626.0,248.0,220.0,1038.0,17.0,43.0,60.0,False,0.0264453
24,Bosnia-Herzegovina,859.0,0.0,66.0,602.0,69.0,64.0,0.0,False,0.0745052
25,Botswana,61.0,3.0,6.0,28.0,6.0,18.0,0.0,False,0.295082
26,Brazil,11424.0,452.0,2725.0,7903.0,21.0,116.0,207.0,False,0.0101541
27,British Virgin Islands,38.0,10.0,0.0,24.0,0.0,0.0,0.0,False,0
28,Brunei,21.0,3.0,8.0,10.0,0.0,0.0,0.0,False,0
29,Bulgaria,2688.0,130.0,301.0,1379.0,819.0,45.0,14.0,False,0.0167411
...,...,...,...,...,...,...,...,...,...,...
171,Suriname,134.0,32.0,8.0,91.0,0.0,0.0,0.0,False,0
172,Swaziland,19.0,0.0,5.0,14.0,0.0,0.0,0.0,False,0
173,Sweden,1066.0,27.0,393.0,581.0,50.0,12.0,3.0,False,0.011257
174,Switzerland,640.0,10.0,251.0,331.0,34.0,8.0,6.0,False,0.0125
175,Syria,3840.0,801.0,250.0,1507.0,140.0,1137.0,5.0,True,0.296094
176,Taiwan,4888.0,662.0,2119.0,1950.0,138.0,0.0,0.0,False,0
177,Tajikistan,595.0,25.0,44.0,188.0,277.0,61.0,0.0,False,0.102521
178,Tanzania,799.0,59.0,0.0,406.0,66.0,211.0,0.0,False,0.26408
179,Thailand,7502.0,291.0,336.0,3288.0,25.0,3439.0,123.0,False,0.458411
180,Togo,1547.0,155.0,16.0,669.0,537.0,157.0,13.0,False,0.101487
181,Tonga,327.0,103.0,0.0,210.0,0.0,0.0,0.0,False,0
182,Trinidad and Tobago,3212.0,651.0,272.0,2188.0,53.0,4.0,44.0,False,0.00124533
183,Tunisia,518.0,20.0,56.0,351.0,41.0,45.0,5.0,False,0.0868726
184,Turkey,4201.0,222.0,1041.0,1670.0,1108.0,142.0,18.0,False,0.0338015
185,Turkmenistan,226.0,0.0,20.0,68.0,90.0,35.0,0.0,False,0.154867
186,Turks and Caicos Islands,38.0,3.0,0.0,30.0,0.0,0.0,2.0,False,0
187,Uganda,1664.0,122.0,135.0,686.0,185.0,531.0,5.0,False,0.319111
188,Ukraine,7987.0,797.0,881.0,4519.0,1285.0,471.0,34.0,False,0.0589708
189,United Arab Emirates,1193.0,209.0,312.0,303.0,118.0,238.0,13.0,False,0.199497
190,United Kingdom,12592.0,492.0,5459.0,6481.0,92.0,31.0,37.0,False,0.00246188
191,United States,370.0,12.0,43.0,270.0,0.0,19.0,26.0,False,0.0513514
192,Uruguay,1078.0,37.0,115.0,834.0,5.0,47.0,40.0,False,0.0435993
193,Uzbekistan,3977.0,396.0,131.0,805.0,2318.0,306.0,21.0,False,0.0769424
194,Venezuela,9144.0,731.0,2207.0,4610.0,738.0,806.0,52.0,False,0.0881452
195,Vietnam,30832.0,16065.0,872.0,13690.0,0.0,148.0,0.0,False,0.00480021
196,Yemen,3194.0,577.0,25.0,2319.0,136.0,134.0,3.0,True,0.0419537
197,Zambia,460.0,31.0,75.0,272.0,35.0,44.0,3.0,False,0.0956522
198,Zimbabwe,779.0,60.0,167.0,311.0,42.0,189.0,10.0,False,0.242619
199,All other countries1,73.0,7.0,15.0,44.0,0.0,0.0,0.0,False,0
200,Unknown,677.0,112.0,36.0,411.0,22.0,53.0,43.0,False,0.0782866

In [42]:
removal = pd.read_excel('RemovedByCrimAndNationality.xls',sheetname='Country',
              skiprows=[0,1,2], skip_footer=7,na_values = ['D','-','X',])
removal

,Country of nationality,2006,Unnamed: 2,Unnamed: 3,2007,Unnamed: 5,Unnamed: 6,2008,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,2013,Unnamed: 23,Unnamed: 24,2014,Unnamed: 26,Unnamed: 27,2015,Unnamed: 29,Unnamed: 30
0,NaN,Total,Criminal 1,Non-Criminal,Total,Criminal 1,Non-Criminal,Total,Criminal 1,Non-Criminal,...,Non-Criminal,Total,Criminal 1,Non-Criminal,Total,Criminal 1,Non-Criminal,Total,Criminal 1,Non-Criminal
1,Total,280974,98490,182484,319382,102394,216988,359795,105266,254529,...,216181,434015,198981,235034,407075,169253,237822,333341,139950,193391
2,Afghanistan,20,12,8,27,11,16,31,11,20,...,NaN,12,5,7,17,10,7,9,NaN,NaN
3,Albania,252,32,220,246,23,223,331,34,297,...,75,60,30,30,47,23,24,40,21,19
4,Algeria,41,18,23,27,6,21,21,4,17,...,10,5,NaN,NaN,7,3,4,14,NaN,NaN
5,Angola,16,NaN,NaN,17,3,14,17,NaN,NaN,...,NaN,18,NaN,NaN,15,3,12,10,3,7
6,Antigua-Barbuda,40,33,7,45,37,8,28,23,5,...,15,21,16,5,13,13,NaN,16,11,5
7,Argentina,457,88,369,395,76,319,390,84,306,...,107,147,83,64,118,64,54,132,58,74
8,Armenia,97,27,70,74,34,40,86,43,43,...,19,33,28,5,29,NaN,NaN,16,NaN,NaN
9,Australia,54,20,34,52,21,31,47,14,33,...,23,46,24,22,43,18,25,32,16,16
10,Austria,10,NaN,NaN,13,8,5,18,3,15,...,4,14,5,9,4,NaN,4,7,3,4
11,Bahamas,91,68,23,97,72,25,105,82,23,...,18,98,80,18,102,87,15,73,66,7
12,Bangladesh,151,22,129,138,25,113,115,17,98,...,53,53,11,42,83,28,55,64,13,51
13,Barbados,46,41,5,40,33,7,44,39,5,...,8,26,23,3,16,12,4,12,12,NaN
14,Belarus,24,7,17,21,4,17,25,9,16,...,17,14,10,4,20,13,7,8,NaN,NaN
15,Belgium,14,4,10,17,4,13,21,NaN,NaN,...,6,13,6,7,10,4,6,7,4,3
16,Belize,211,112,99,233,116,117,213,109,104,...,61,177,118,59,130,79,51,134,83,51
17,Benin,11,4,7,7,3,4,14,3,11,...,4,4,NaN,NaN,8,NaN,NaN,8,3,5
18,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,9,3,6,...,4,10,10,NaN,6,NaN,NaN,11,7,4
19,Bolivia,352,61,291,382,37,345,276,54,222,...,57,120,66,54,84,46,38,69,37,32
20,Bosnia-Herzegovina,42,28,14,42,29,13,45,31,14,...,4,73,67,6,52,46,6,55,43,12
21,Brazil,4217,563,3654,4210,352,3858,3836,368,3468,...,1973,1449,368,1081,953,284,669,992,282,710
22,Bulgaria,64,10,54,80,23,57,77,11,66,...,29,39,24,15,34,16,18,34,17,17
23,Burkina Faso,17,3,14,13,4,9,18,6,12,...,6,9,3,6,12,NaN,12,24,NaN,NaN
24,Burma,14,NaN,14,22,NaN,NaN,10,NaN,NaN,...,NaN,4,NaN,NaN,4,NaN,NaN,5,NaN,NaN
25,Cambodia,27,11,16,29,17,12,40,22,18,...,8,17,11,6,68,64,4,15,15,NaN
26,Cameroon,60,11,49,63,10,53,66,12,54,...,22,29,17,12,33,16,17,31,11,20
27,Canada,1413,423,990,1263,411,852,1302,347,955,...,582,800,380,420,704,300,404,629,258,371
28,Cape Verde,37,30,7,61,50,11,35,26,9,...,6,4,NaN,NaN,12,6,6,8,4,4
29,Chad,NaN,NaN,NaN,3,NaN,NaN,7,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Spain,59,25,34,65,25,40,94,27,67,...,56,93,30,63,103,34,69,100,31,69
134,Sri Lanka,82,6,76,60,6,54,113,9,104,...,90,52,5,47,29,7,22,19,3,16
135,Sudan,22,5,17,13,5,8,15,4,11,...,11,16,11,5,13,NaN,NaN,11,6,5
136,Suriname,21,7,14,12,6,6,14,4,10,...,NaN,13,10,3,5,NaN,NaN,5,NaN,NaN
137,Sweden,25,8,17,35,10,25,38,7,31,...,17,23,13,10,15,10,5,17,6,11
138,Switzerland,15,10,5,16,4,12,20,5,15,...,9,8,4,4,9,NaN,NaN,4,NaN,NaN
139,Syria,70,21,49,40,7,33,46,9,37,...,NaN,17,3,14,6,NaN,6,4,NaN,4
140,Taiwan,86,9,77,126,15,111,81,24,57,...,32,46,14,32,43,7,36,31,9,22
141,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,10,3,7,...,10,9,4,5,6,NaN,NaN,3,NaN,NaN
142,Tanzania,20,5,15,23,8,15,41,12,29,...,6,25,15,10,27,14,13,19,10,9
143,Thailand,73,16,57,91,13,78,102,20,82,...,45,60,18,42,51,17,34,53,15,38
144,Togo,23,7,16,23,7,16,30,4,26,...,9,8,NaN,NaN,5,NaN,NaN,11,3,8
145,Tonga,32,23,9,32,23,9,38,27,11,...,6,21,NaN,NaN,29,NaN,NaN,19,12,7
146,Trinidad and Tobago,398,248,150,363,234,129,478,273,205,...,56,169,134,35,163,136,27,126,102,24
147,Tunisia,33,8,25,23,5,18,38,9,29,...,5,12,7,5,10,6,4,16,7,9
148,Turkey,158,25,133,155,35,120,183,33,150,...,88,88,31,57,55,18,37,52,14,38
149,Turks and Caicos Islands,NaN,NaN,NaN,3,NaN,3,10,5,5,...,5,9,3,6,6,NaN,6,NaN,NaN,NaN
150,Uganda,26,7,19,31,7,24,28,10,18,...,7,20,9,11,23,13,10,9,4,5
151,Ukraine,174,48,126,162,36,126,182,62,120,...,85,111,71,40,91,49,42,89,39,50
152,United Arab Emirates,10,NaN,10,5,NaN,5,5,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,United Kingdom,385,195,190,378,162,216,479,179,300,...,140,223,145,78,212,146,66,149,94,55
154,Uruguay,142,19,123,163,31,132,173,49,124,...,52,79,45,34,52,31,21,34,16,18
155,Uzbekistan,48,5,43,46,7,39,56,9,47,...,18,31,9,22,34,11,23,14,8,6
156,Venezuela,444,130,314,482,124,358,412,120,292,...,148,199,87,112,165,77,88,204,61,143
157,Vietnam,41,19,22,27,9,18,30,8,22,...,34,67,41,26,43,30,13,45,18,27
158,Yemen,47,16,31,64,17,47,44,10,34,...,26,17,9,8,18,8,10,13,7,6
159,Zambia,14,7,7,25,13,12,20,7,13,...,7,11,NaN,NaN,11,7,4,13,NaN,NaN
160,Zimbabwe,26,12,14,29,NaN,NaN,43,3,40,...,7,14,9,5,7,NaN,NaN,11,6,5
161,All other countries 2,62,11,51,64,12,52,89,25,64,...,42,58,28,30,62,31,31,38,19,19
162,Unknown,77,8,69,43,4,39,161,10,151,...,21,34,16,18,22,9,13,35,15,20

In [86]:
remove2015 = removal.loc[:,['2015','Unnamed: 29','Unnamed: 30']]
remove2015

       2015 Unnamed: 29   Unnamed: 30
0     Total  Criminal 1  Non-Criminal
1    333341      139950        193391
2         9         NaN           NaN
3        40          21            19
4        14         NaN           NaN
5        10           3             7
6        16          11             5
7       132          58            74
8        16         NaN           NaN
9        32          16            16
10        7           3             4
11       73          66             7
12       64          13            51
13       12          12           NaN
14        8         NaN           NaN
15        7           4             3
16      134          83            51
17        8           3             5
18       11           7             4
19       69          37            32
20       55          43            12
21      992         282           710
22       34          17            17
23       24         NaN           NaN
24        5         NaN           NaN
25       15          15           NaN
26       31          11            20
27      629         258           371
28        8           4             4
29        4         NaN             4
..      ...         ...           ...
133     100          31            69
134      19           3            16
135      11           6             5
136       5         NaN           NaN
137      17           6            11
138       4         NaN           NaN
139       4         NaN             4
140      31           9            22
141       3         NaN           NaN
142      19          10             9
143      53          15            38
144      11           3             8
145      19          12             7
146     126         102            24
147      16           7             9
148      52          14            38
149     NaN         NaN           NaN
150       9           4             5
151      89          39            50
152     NaN         NaN           NaN
153     149          94            55
154      34          16            18
155      14           8             6
156     204          61           143
157      45          18            27
158      13           7             6
159      13         NaN           NaN
160      11           6             5
161      38          19            19
162      35          15            20

[163 rows x 3 columns]

In [87]:
new_header = remove2015.iloc[0] 
remove2015.columns = list(new_header)
remove2015 = remove2015[1:]
remove2015

      Total Criminal 1 Non-Criminal
1    333341     139950       193391
2         9        NaN          NaN
3        40         21           19
4        14        NaN          NaN
5        10          3            7
6        16         11            5
7       132         58           74
8        16        NaN          NaN
9        32         16           16
10        7          3            4
11       73         66            7
12       64         13           51
13       12         12          NaN
14        8        NaN          NaN
15        7          4            3
16      134         83           51
17        8          3            5
18       11          7            4
19       69         37           32
20       55         43           12
21      992        282          710
22       34         17           17
23       24        NaN          NaN
24        5        NaN          NaN
25       15         15          NaN
26       31         11           20
27      629        258          371
28        8          4            4
29        4        NaN            4
30       88         41           47
..      ...        ...          ...
133     100         31           69
134      19          3           16
135      11          6            5
136       5        NaN          NaN
137      17          6           11
138       4        NaN          NaN
139       4        NaN            4
140      31          9           22
141       3        NaN          NaN
142      19         10            9
143      53         15           38
144      11          3            8
145      19         12            7
146     126        102           24
147      16          7            9
148      52         14           38
149     NaN        NaN          NaN
150       9          4            5
151      89         39           50
152     NaN        NaN          NaN
153     149         94           55
154      34         16           18
155      14          8            6
156     204         61          143
157      45         18           27
158      13          7            6
159      13        NaN          NaN
160      11          6            5
161      38         19           19
162      35         15           20

[162 rows x 3 columns]

In [72]:
Austin.save_game(greencard,"greencard")

You have succesfully saved!

In [88]:
Austin.save_game(remove2015,'Removed')

You have succesfully saved!